<div class="headerContainer">
  <h1>Todo</h1>
  <h1 id="dotList">.</h1>
  <h1>list</h1>
</div>
<div class="inputContainer">
  <form>
    <p>Nova tarefa</p>
    <fieldset [formGroup]="form">
      <input
        type="text"
        placeholder="Título da tarefa"
        maxlength="60"
        formControlName="title">
        <!--- <small *ngIf="form.invalid && !form.pristine">Este campo deve ter entre 3 a 60 caracteres</small> --->
      <button [disabled]="form.invalid" (click)="add()">Adicionar</button>
    </fieldset>
  </form>
</div>

<div class="taskContainer">
  <table>
    <tbody *ngIf="todos">
      <tr *ngFor="let todo of todos">
        <td id="taskDone" *ngIf="todo.done == true"><s>{{ todo.title }}</s></td>
        <td *ngIf="todo.done == false">{{ todo.title }}</td>
        <td>
          <span *ngIf="!todo.done" (click)="markAsDone(todo)"><img src="../assets/tick.png" width="20px" alt=""></span>
          <span *ngIf="todo.done" (click)="markAsUndone(todo)"><img src="../assets/restart.png" width="20px" alt=""></span>
          <span (click)="remover(todo)"><img src="../assets/trash.png" width="20px" alt=""></span>
        </td>
      </tr>
    </tbody>
</table>
</div>

