<h1>{{ title }}</h1>
<button (click)="alterarTexto()">Mudar texto</button>
<ul>
  <li *ngFor="let todo of todos">
    {{ todo.id }}.{{ todo.title }}
    <button *ngIf="!todo.done" (click)="markAsDone(todo)">CONCLUIR</button> |
    <button *ngIf="todo.done" (click)="markAsUndone(todo)">REFAZER</button> |
    <button (click)="remover(todo)">REMOVER</button>
  </li>
</ul>

<form>
  <fieldset [formGroup]="form">
    <label>Tarefa: </label>
    <input
      type="text"
      placeholder="Título da Tarefa"
      maxlength="60"
      formControlName="title">
      <small *ngIf="form.invalid && !form.pristine">Este campo deve ter entre 3 a 60 caracteres</small>
    <button [disabled]="form.invalid">Salvar</button>
  </fieldset>
</form>
